# The Caddyfile is an easy way to configure your Caddy web server.
#
{
 auto_https off
 admin off
}


# reverse proxy unifi core from local http port
:8000 {
 reverse_proxy localhost:8081
}

# trick unifi that it's in core mode
http://localhost:11081 {
 header Content-Type "application/json"
 respond /mb/ 101
 respond /mb/token 101
 respond /mb/sub "{\"data\": { \"token\": \"token\"}}" 
 respond /api/cloud/status 500  {
        close
 }
}

